h1 {
  text-decoration: #99e550 wavy underline;
  font-family: 'Orbitron', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

body {
  margin: 0;
  font-family: 'Orbitron', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

form {
  padding: 100px;
}

.form input[type="text"] {
  font: 2em sans-serif;
  text-align: center;
  border: 3px solid black;
  border-radius: 10px;
  margin-bottom: 50px;
}

.form input[type="text"]:hover {
  font: 2em sans-serif;
  text-align: center;
  border: 3px solid green;
  border-radius: 10px;
}

.hatchContainer {
  width: 1200px;
  border-radius: 10px;
  border: 4px solid black;
  margin: 0 auto;
  background-color: white;
}


button {
  text-transform: capitalize;
  font-weight: 600;
  font-size: 1.5em;
  color:#000;
  border-radius: 10px;
  margin: 10px 50px;
  padding: 10px;
  background-color: #73bae8
}

button:hover {
  color: white;
}

.inventory {
  background-color: #73bae8;
  margin: 10px 50px;
  padding: 20px;
}

.bg-main {
  width: 100%;
  background-color: #dc8ecc;
}

.sidebar {
  background-color: #fff;
  border-radius: 10px solid black 1px;
}

.thoughtBubble {
  width: 215px;
  margin: 0 auto;
  
}

.creature { 
  width: 425px;
  padding-bottom: 100px;
  margin: 0 auto;
 
}

.bar {
  border: 1px black;
  border-radius: 5px;
  background-color: #6e6e6e;
  padding: 10px 0;  
}

.barFilled {
  border: 1px black;
  border-radius: 5px;
  padding: 10px 0;  
  background-color:#ac3232;
}

.status-icon {
  width: 50px;
  padding: 10px;
}

.main-content {
  max-width: 1400px ;
  padding: 40px;
  margin: 0 auto;
  border: 4px solid black;
  border-radius: 10px;
  background-color: #e7f4fa;
}

#hatchBtn {
  margin: 50px;
}